@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Manrope', sans-serif;
}


button {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

button:hover{
  background: #363636;
}


.displayPosts{
  display: grid;
  justify-content: center;
  grid-template-columns: 50%;
  row-gap: 20px;
}


.btnDisplay{
  display: flex;
  width: 100%;
  justify-content: center;
}

.post{
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.post p{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.onePost{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.onePost div {
  width: 70%;
  padding: 15px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}

.title {
  font-size: 20px;
}
